@import 'styles/common';

.footer {
  // background: $M2;
  border-top: 1px solid #e7e7e9;
  background-color: white;
  padding: 0;
}

.title {
  color: #151621;
  margin-bottom: 10px !important;
  font-size: 24px !important;
  font-weight: 700;
  line-height: 32px;

  @include mobile {
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $T2;
  }
}

.spread {
  @include mobile {
    @include VHCenter;
  }

  display: none;
  width: 16px;
  height: 16px;
  color: $primary;
  float: right;
  transform-origin: center;
  transition: transform 0.25s;

  &.clicked {
    transform: rotate(45deg);
  }
}

.items {
  transition: 0.25s;
  overflow: hidden;

  @include mobile {
    max-height: 0;

    &.displayed {
      max-height: 500px;
    }
  }

  li {
    // margin: 1rem 0;

    a {
      // display: inline-block;
      width: 100%;
      // color: $text-primary;
      color: #656974;
      font-size: 16px;
      line-height: 30px;
      display: block;
      &:hover {
        color: $text-primary-hover;
      }
    }
  }
}

.socials {
  @include mobile {
    margin-top: 1rem;
    margin-right: 0;
  }
  margin-right: -36px; // size of an icon
}

.tooltipQR {
  opacity: 1 !important;
  padding: 1rem;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.1);
}

.column {
  @include mobile {
    display: inline-block;
    margin-left: 1rem;
  }

  margin-bottom: 1rem;
  background-position: center;
}

.annotations {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #e7e7e9;
}

.copyright {
  @include VHCenter;
  color: #656974;
  font-size: 16px;
  line-height: 24px;
}

.logo {
  width: 150px;
}

.logoAndCopyright {
  display: flex;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  gap: 24px;
  
}
.socialMediaLinks {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}
.socialMediaLink {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  img {
    vertical-align: middle;
  }
}
.socialMediaLinkAnchor {
  margin-top: 0;
  margin-left: 1px;
  margin-right: 1px;
  text-decoration: none;
}

.infoAndLinks {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 140px;
  margin-top: 140px;
  margin-bottom: 140px;
}
.linkRows {
  flex-grow: 1;
}